/* CSS declarations go here */
.blue {
	color: blue;
}

.red {
	color: red;
}

.gray {
	color: gray;
}

.black {
	color: black;
}

.courier {
	font-family: "Courier New", Courier, monospace;
}

pre {
    overflow: hidden;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
